.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: none;
}

.logo, .n {
    height: 100px;
}

.icons {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    padding-right: 5px;
}

.icon {
    filter: invert(1);
    transition: width .1s, height .1s;
}

.icon_grow {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 510px) {
    .logo {
        display: block;
    }
    
    .n {
        display: none;
    }
}

@media (hover: hover) {
    .icon:hover {
        width: 65px;
        height: 65px;
    }
}

